*{
    margin: 0;
}

.contenedor{
    background-image: url(capybara.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center center;
    width: 100vw;
    height: 100vw;

    text-align: center;
}

p{
    font-size: xx-large;
    padding: 15%;
}

button{
    font-size: xx-large;
    padding: 0.75em;
}

#yesBtn{
    transform: translate(-100%, 0);
}

#noBtn{
    position: absolute;
}